[package]
name = "pyth-agent"
version = "2.12.1"
edition = "2021"

[[bin]]
name = "agent"
path = "src/bin/agent.rs"

[dependencies]
anyhow = "1.0.81"
serde = { version = "1.0.197", features = ["derive"] }
async-trait = "0.1.79"
warp = { version = "0.3.6", features = ["websocket"] }
tokio = { version = "1.37.0", features = ["full"] }
tokio-stream = "0.1.15"
futures = { version = "0.3.30" }
futures-util = { version = "0.3.30", default-features = false, features = [
    "sink",
] }
jrpc = "0.4.1"
serde_json = "1.0.115"
chrono = "0.4.37"
chrono-tz = "0.8.6"
parking_lot = "0.12.1"
pyth-sdk = "0.8.0"
pyth-sdk-solana = "0.10.0"
solana-account-decoder = "1.18.8"
solana-client = "1.18.8"
solana-sdk = "1.18.8"
bincode = "1.3.3"
rand = "0.8.5"
config = "0.14.0"
thiserror = "1.0.58"
clap = { version = "4.5.4", features = ["derive"] }
humantime-serde = "1.1.1"
serde-this-or-that = "0.4.2"
# The public typed-html 0.2.2 release is causing a recursion limit
# error that cannot be fixed from outside the crate.
#
# Rationale, 2023-03-21: https://stackoverflow.com/questions/74462753
typed-html = { git = "https://github.com/bodil/typed-html", rev = "4c13ecca" }
humantime = "2.1.0"
prometheus-client = "0.22.2"
lazy_static = "1.4.0"
toml_edit = "0.22.9"
winnow = "0.6.5"
proptest = "1.4.0"
tracing = { version = "0.1.40", features = ["log"] }
tracing-subscriber = { version = "0.3.18", features = ["env-filter", "json"] }
tracing-opentelemetry = "0.24.0"
opentelemetry = "0.23.0"
opentelemetry_sdk = { version = "0.23.0", features = ["rt-tokio"]}
opentelemetry-otlp = { version = "0.16.0" }
pyth-price-store = "0.1.0"
bytemuck = "1.13.0"

[dev-dependencies]
tokio-util = { version = "0.7.10", features = ["full"] }
soketto = "0.8.0"
portpicker = "0.1.1"
rand = "0.8.5"
tokio-retry = "0.3.0"
iobuffer = "0.2.0"

[profile.release]
panic = 'abort'

[profile.dev]
panic = 'abort'
