[package]
name = "pyth-agent"
version = "0.1.3"
edition = "2021"

[[bin]]
name = "agent"
path = "src/bin/agent.rs"

[dependencies]
anyhow = "1.0.55"
serde = { version = "1.0.136", features = ["derive"] }
async-trait = "0.1.52"
warp = { version = "0.3.1", features = ["websocket"] }
tokio = { version = "1.0", features = ["full"] }
tokio-stream = "0.1.1"
futures-util = { version = "0.3", default-features = false, features = [
    "sink",
] }
jrpc = "0.4.1"
serde_json = "1.0.79"
tracing = "0.1.31"
chrono = "0.4.19"
parking_lot = "0.12.1"
pyth-sdk = "0.6.0"
pyth-sdk-solana = "0.6.0"
solana-client = "1.10.24"
solana-sdk = "1.10.24"
bincode = "1.3.3"
slog = { version = "2.7.0", features = ["max_level_trace", "release_max_level_trace"] }
slog-term = "2.9.0"
rand = "0.8.5"
slog-async = "2.7.0"
config = "0.13.3"
thiserror = "1.0.32"
solana-shadow = "0.2.4"
clap = { version = "4.0.32", features = ["derive"] }
humantime-serde = "1.1.1"
slog-envlogger = "2.2.0"
serde-this-or-that = "0.4.0"

[dev-dependencies]
tokio-util = { version = "0.7.0", features = ["full"] }
soketto = "0.7.1"
portpicker = "0.1.1"
rand = "0.8.5"
tokio-retry = "0.3.0"
slog-extlog = "8.0.0"
iobuffer = "0.2.0"

[profile.release]
panic = 'abort'

[profile.dev]
panic = 'abort'
