[package]
name = "pyth-agent"
version = "2.4.4"
edition = "2021"

[[bin]]
name = "agent"
path = "src/bin/agent.rs"

[[bin]]
name = "agent-migrate-config"
path = "src/bin/agent_migrate_config.rs"

[dependencies]
anyhow = "1.0.55"
serde = { version = "1.0.136", features = ["derive"] }
async-trait = "0.1.52"
warp = { version = "0.3.3", features = ["websocket"] }
tokio = { version = "1.0", features = ["full"] }
tokio-stream = "0.1.1"
futures-util = { version = "0.3", default-features = false, features = [
    "sink",
] }
jrpc = "0.4.1"
serde_json = "1.0.79"
chrono = "0.4.31"
chrono-tz = "0.8.4"
parking_lot = "0.12.1"
pyth-sdk = "0.7.0"
pyth-sdk-solana = "0.7.2"
solana-account-decoder = "1.14.16"
solana-client = "1.14.16"
solana-sdk = "1.14.16"
bincode = "1.3.3"
slog = { version = "2.7.0", features = ["max_level_trace", "release_max_level_trace"] }
slog-term = "2.9.0"
rand = "0.8.5"
slog-async = "2.7.0"
config = "0.13.3"
thiserror = "1.0.32"
clap = { version = "4.0.32", features = ["derive"] }
humantime-serde = "1.1.1"
slog-envlogger = "2.2.0"
serde-this-or-that = "0.4.0"
# The public typed-html 0.2.2 release is causing a recursion limit
# error that cannot be fixed from outside the crate.
#
# Rationale, 2023-03-21: https://stackoverflow.com/questions/74462753
typed-html = { git = "https://github.com/bodil/typed-html", rev = "4c13ecca" }
humantime = "2.1.0"
prometheus-client = "0.19.0"
lazy_static = "1.4.0"
toml_edit = "0.19.13"
slog-bunyan = "2.4.0"

[dev-dependencies]
tokio-util = { version = "0.7.0", features = ["full"] }
soketto = "0.7.1"
portpicker = "0.1.1"
rand = "0.8.5"
tokio-retry = "0.3.0"
slog-extlog = "8.0.0"
iobuffer = "0.2.0"

[profile.release]
panic = 'abort'

[profile.dev]
panic = 'abort'
