[pythd_api_server]
listen_address = "127.0.0.1:8910"

[primary_network]

# HTTP(S) endpoint of the RPC node. Public RPC endpoints are usually rate-limited, so a private
# endpoint should be used in most cases.
rpc_url = "https://api2.pythnet.pyth.network"

# WS(S) endpoint of the RRC node. This is used to subscribe to account changes on the network.
# This can be omitted when oracle.subscriber_enabled is set to false.
wss_url = "wss://api2.pythnet.pyth.network"

# Path to your publishing keypair.
key_store.publish_keypair_path = "/path/to/keypair.json"

# Oracle program pubkey
key_store.program_key = "FsJ3A3u2vn5cTVofAjvy6y5kwABJAqYWpe4975bi2epH"

# Oracle mapping pubkey
key_store.mapping_key = "AHtgzX45WTKfkPG53L6WYhGEXwQkN1BVknET3sVsLL8J"

# Pythnet accumulator key
# The pythnet accumulator key settings are only valid for pythnet. Do not apply these settings for any other environment i.e. mainnet, pythtest-conformance
key_store.accumulator_key = "7Vbmv1jt4vyuqBZcpYPpnVhrqVe5e6ZPb6JxDcffRHUM"

# IMPORTANT: Exporter batch size must be decreased to 7 to support
# larger accumulator transactions, when accumulator_key is set.
exporter.max_batch_size = 7

# Duration of the interval at which to publish updates
exporter.publish_interval_duration = "400ms"

# Configuration for the optional secondary network this agent will publish data to.
# In most cases this should be a Solana endpoint.
[secondary_network]

# Please use other endpoints as these are rate limited
rpc_url = "https://api.mainnet-beta.solana.com"
wss_url = "wss://api.mainnet-beta.solana.com"

# Path to your publishing keypair.
key_store.publish_keypair_path = "/path/to/keypair.json"

# Oracle program pubkey
key_store.program_key = "FsJ3A3u2vn5cTVofAjvy6y5kwABJAqYWpe4975bi2epH"

# Oracle mapping pubkey
key_store.mapping_key = "AHtgzX45WTKfkPG53L6WYhGEXwQkN1BVknET3sVsLL8J"

# Compute unit limit requested per instruction for transactions that update the price.
# This should be an upper bound of the compute units a single upd_price instruction might consume.
# For solana mainnet, this should be set to 20000 instead of the default 40000 since there is no accumulator.
exporter.compute_unit_limit = 20000

# Whether the dynamic compute unit pricing is enabled.
# This is needed for solana to be able to land transactions on the network
# during periods of high network congestion.
exporter.dynamic_compute_unit_pricing_enabled = true

# Price per compute unit offered for update_price transactions
exporter.compute_unit_price_micro_lamports = 1000

# Configuration for the JRPC API
[pythd_adapter]

# The duration of the interval at which `notify_price_sched` notifications will be sent.
# Note that this doesn't affect the rate at which transactions are published:
# this is soley a backwards-compatibility API feature.
notify_price_sched_interval_duration = "100ms"
