[pythd_api_server]
listen_address = "127.0.0.1:8910"

[primary_network]

# HTTP(S) endpoints of the RPC node. Public Pythnet RPC endpoints are usually
# rate-limited, so a private endpoint should be used in most cases.
# API calls will cycle through each on failure.
rpc_urls = ["https://api2.pythnet.pyth.network"]

# WS(S) endpoint of the RRC node. This is used to subscribe to account changes on the network.
# This can be omitted when oracle.subscriber_enabled is set to false.
wss_url = "wss://api2.pythnet.pyth.network"

# Path to your publishing keypair.
key_store.publish_keypair_path = "/path/to/keypair.json"

# Oracle program pubkey
key_store.pyth_oracle_program_key = "FsJ3A3u2vn5cTVofAjvy6y5kwABJAqYWpe4975bi2epH"

# The price store program key
key_store.pyth_price_store_program_key = "3m6sv6HGqEbuyLV84mD7rJn4MAC9LhUa1y1AUNVqcPfr"

# Set the max price updates per transaction to 47
exporter.max_batch_size = 47

# Compute unit per price update.
exporter.compute_unit_limit = 5000

# Configuration for the JRPC API
[pythd_adapter]

# The duration of the interval at which `notify_price_sched` notifications will be sent.
# Note that this doesn't affect the rate at which transactions are published:
# this is soley a backwards-compatibility API feature.
notify_price_sched_interval_duration = "400ms"
