name: Rust

on:
  push:
    branches:
      - main

  pull_request:
    branches:
      - main

jobs:
  build:
    runs-on: ubuntu-20.04
    steps:
      - name: Check-out code
        uses: actions/checkout@v2
      - name: Build image
        run: docker build -f integration-tests/Dockerfile -t agent .
      - name: Run tests
        run: docker run -v $PWD:/agent agent ./tests.sh
